html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", serif;
   
}
button{
    background-color:#3882F6;
    border-color: #3882F6;
    border-radius: 10px;
    padding: 10px 30px;
    align-self: flex-start;
    color: #f9faf8;
}
#head{
 font-weight: bold;
 font-size: 20px;
}

.header{
    display: flex;
    justify-content: space-around;
    color:#e5e7eb;
    background-color: #1f2937;
    padding: 16px;

}
.links{
    display: flex;
    gap: 16px;
   
}
.main{
    background-color: #1f2937;
    padding: 50px;
    gap: 200px;
   display: flex;
   justify-content: center;

}
.boxA{
    font-style: ro;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    color: #e5e7eb;
}
.blank{
    color: #e5e7eb;
    background-color: darkgray;
    padding: 100px;
}
#heading{
    font-size: 40px;
    color: #f9faf8;
}

.footer{
font-size: 18px;
color: #e5e7eb;
background-color: #1f2937;
padding: 16px;
text-align: center;
}

.image{
        border: 2px solid #3882F6;
        height: 100px;
        width:100px;
        border-radius: 8px;
                
}
.BB{
    display: flex;
        flex-direction: column;
        width: 150px;
        align-items: center;
        text-align: center;
        gap: 16px;

}

.boxes{
    display: flex;
    gap: 30px;
}
.boxB{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   padding: 16px;
}
h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900px;
}
.grey{
    background-color:#e5e7eb;
    color: #1f2937;
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    padding: 50px 400px;
}
#Thor{
    text-align: end;
    font-weight: bold;
    font-size: 18px;
}
.white{
    padding:50px 0;
display: flex;
justify-content: center;
}
.blue{
    color: #f9faf8; 
    background-color: #3882F6;
    padding: 30px 100px;
    border: #3882F6;
    border-radius: 8px;
   display: flex;
   justify-content: space-between;
   gap:100px;
}
#button{
    color: #f9faf8;
    border-color: #f9faf8;
    border: 2px solid white;
    width:150px;
    
}
#hero-text{
    font-size: 12px;;
}
.hero{
    
}
h1{
    font-weight: bold;
    font-size: 16px;
}
